<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Food Item</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>
  <h1>Edit Item</h1>
  <form action="/users/<%= user._id %>/foods/<%= foodItem._id %>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= foodItem.name %>" required>
    
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" name="quantity"
