<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Food To The Pantry!!</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>What Food Item Is Being Added?</h1>
    <form action="/foods" method="POST">
        <label for="name">Food Name:</label>
        <input type="text" id="name" name="name" required><br>    
        <button type="submit">Add Food Item</button>
      </form>
      <a href="/foods/">Back to Pantry</a>
    </body>
    </html>
</body>
</html>